*{
  font-family: Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #d00505;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #d28d8d;
}
